/Aula04/AulaEncapsulamento/nbproject/private/
/Aula04/AulaEncapsulamento/build/
/Aula04/AulaEncapsulamento/dist/
/Aula04/Aula05_VetoresColecoes/nbproject/private/
/Aula04/Aula05_VetoresColecoes/build/
/Aula04/Aula05_VetoresColecoes/dist/